body {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Orbitron;
}

.container {
  margin: 4rem 2rem;
  height: 400px;
  width: 400px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blanchedalmond;
  border-radius: 50%;
  box-shadow: 5px 10px #888888;
}

.circle {
  font-size: 4rem;
}
