body {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Orbitron;
}

.container {
  border: 2px solid red;
  margin: 4rem 2rem;
  height: 30vh;
  width: 50vw;
  color: #17d4fe;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blanchedalmond;
  border-radius: 2rem;
  box-shadow: 5px 10px #888888;
}

.rectangle {
  border: 2px solid green;
  font-size: 3rem;
}
